@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

body{
    background: linear-gradient(135deg,#e096e0, #db9dc6);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    #card{
        background-color: aliceblue;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
        text-align: center;
        height: 350px;
        

    }
}

h1{
    font-family: "Momo Signature", cursive;
    color: darkmagenta;
    text-align: center;
}


p{
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
        font-family: "Momo Signature", cursive;
}

img{
    display: block;
    margin-left: auto;
    border-radius: 50%;
    margin-right: auto;
    width: 150px;
    height: auto;
}
.foto-legenda{
    font-size: 12px;
    font-style: italic;
    text-align: center;
    font-family: "Momo Signature", cursive;

}

